body {
    font-family: Arial, Helvetica, sans-serif;
    background: #6AFB92;
    text-align: center;
    color: #8B008B;
}

canvas {
    border: 1px solid grey;
}

div {
    margin-left: 350px;
    margin-right: 300px;
    padding-left: 5px;
    text-align: left;
}

